<footer [class]="{ services: isServicesPage }">
  <div class="container-fluid">
    <div class="main row" [class]="{ services: isServicesPage }">
      <div class="col-md-12 mt-2 main-wrapper">
        <div
          class="site-options language-selector d-flex justify-content-center align-items-center"
          [class]="{ services: isServicesPage }"
        >
          <div class="selector">
            <app-language-selector></app-language-selector>
          </div>
          <div class="selector">
            <app-fiat-selector></app-fiat-selector>
          </div>
          <div class="selector">
            <app-rate-unit-selector></app-rate-unit-selector>
          </div>
          @if (!env.customize?.theme) {
          <div class="selector d-none d-sm-flex">
            <app-theme-selector></app-theme-selector>
          </div>
          }
        </div>
        @if (!env.customize?.theme) {
        <div
          class="selector d-flex d-sm-none justify-content-center ml-auto mr-auto mt-0"
        >
          <app-theme-selector></app-theme-selector>
        </div>
        } @if (!enterpriseInfo?.footer_img) {
        <a
          *ngIf="stateService.isMempoolSpaceBuild"
          class="btn btn-purple sponsor d-flex d-sm-none justify-content-center ml-auto mr-auto mt-0 mb-2"
          [routerLink]="['/login']"
        >
          <span *ngIf="loggedIn" i18n="shared.my-account" class="nowrap"
            >My Account</span
          >
          <span *ngIf="!loggedIn" i18n="shared.sign-in" class="nowrap"
            >Sign In</span
          >
        </a>
        }
      </div>
    </div>
    <div class="row link-tree" [class]="{ services: isServicesPage }">
      <div class="links">
        <span>
          <a
            [routerLink]="['/terms-of-service']"
            i18n="shared.terms-of-service|Terms of Service"
            >Terms of Service</a
          >
        </span>
        <span style="font-size: 1rem"> | </span>
        <span>
          <a
            [routerLink]="['/privacy-policy']"
            i18n="shared.privacy-policy|Privacy Policy"
            >Privacy Policy</a
          >
        </span>
      </div>
    </div>
  </div>
</footer>
